<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

		<link href="css/Css_P4.css" rel="stylesheet" type="text/css"> 
		<title>Gimnasio Los Reales</title>
		<meta name="Autor"content="Juan Daniel Javier">
		<style type=text/css>
		#capa_cabecera2{ position:relative; top: 7px; z-index:1;}
		#capa_cabecera1{ position:absolute;background-color: rgb(255,255,255); opacity: 1; z-index:0;}
		</style> 
	</head>

	<body>
		<div id="Cabecera">
			<div id="capa_cabecera1">
			<center>
				<a href="index"><img src="img/gimnasio_0.jpg" width='1218' height='200' style="position: absolute; top: 0px;"></a> 
			</center>
			</div>
			<div id="capa_cabecera2">	
			<center>
				<a href="index"><img src="img/Corona.png" width='100' height='60' style="position: relative; top: 90px;"></a> 
			</center>
			</div>
		</div>

		<div id="menu">
		<ul>
		  <li class="nivel1"><a href="index" class="nivel1">Prueba nuestro programa</a>  </li>

		  <li class="nivel1"><a href="#" class="nivel1">Contacta con nosotros</a>
			<ul>
				<li><a href="#">Juan de la Merced</a></li>
				<li><a href="#">Daniel de Alcalá</a></li>
				<li><a href="#">Javier Vinuesa</a></li>
			</ul>
		  </li>
		 
		</ul>
		</div>
		<br><br><br>   </br></br></br>

		<div id="Pagina">
  <body>
    <center>
      <font SIZE=5>Introduzca sus datos</font><br><br>

      <form action="sign_up" method="post">
        DNI:
        <input type="text" name="DNI" size="25" maxlength="50"><br><br>
        Contrase&ntildea:
        <input type="password" name="contrasena" size="35" maxlength="100">
        <br><br>
        Correo electronico:
        <input type="text"  name="correo" size="40" maxlength="100">
        <br><br>
        Nombre:
        <input type="text" name="nombre" size="15" maxlength="50">
        <br><br>
        Edad:
        <input type="text" name="edad" size="15" maxlength="50">
        <br><br>
        <table width="50%" border="0" align="center" cellpadding="10" cellspacing="0">
          <tr>
            <td><div align="center">
                <input type="submit" value="Enviar formulario">
                </div></td>
            <td><div align="center">
                <input type="Reset" value="Borrar formulario">
                </div></td>
            </tr>
          </table>
        </form>
      </center>
    </body>
</html>


