<html>
  <head>
    <title>Gimnasio Los Reales</title>
    <meta name="Autor"content="Grupo Juan Daniel Javier">
    </head>

  <body>
    <center>
      <a href="sign_in"><font SIZE=5>Iniciar sesion</font></a><br>
      <a href="sign_up"><font SIZE=5>Registrarse</font></a>
      </center>
    </body>
</html>


