<!DOCTYPE html> 
<html> 
<head> 
	<title> Signup Form</title> 
<link rel="stylesheet"
href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity= 
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous"> 
<style>
h1{text-align:center;
color:green}
body{background: white;}
</style>

<link rel="stylesheet" type="text/css" href="style.css"> 
</head> 
	<body>
	<br> 
	<br> 
	<br> 
	<div class="container" > 
		<div class="row"> 
		<div class="col-md-3"> 
		</div> 
				
		<div class="col-md-6 main"> 
				
			<h1> Te has registrado correctamente</h1> 
			<IMG SRC="tick.png" style = "float:left"> 
					
		</div> 
        
				
				
		<div class="col-md-3"> 
		</div> 
				
		</div> 
	</div> 
</body> 
</html> 



